@using System.Collections
@using System.Linq.Expressions
@using Twitter.Models
@using Twitter.Web.Controllers
@model IEnumerable<Twitter.Models.Tweet>

@{
    ViewBag.Title = "Index";
}

<div class="card-panel">
    <h2 class="center">Tweets</h2>

    @Html.ActionLink("Create New", "Create")
    <div class="row">
        <div class="col s12">
            <table class="striped">
                <thead>
                    <tr>
                        <th class="center">
                            @Html.DisplayNameFor(model => model.Content)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="center">
                                @item.Content
                                @foreach (var tag in item.Tags)
                                {
                                    @tag
                                }
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    function sendAntiForgery() {
        return { "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() }
    }
</script>